.dataloaded{
  margin: 0;
  display: flex;
  height: 90vh; /* Make the body take up the full viewport height */
}

.fcontainer {
  flex: 1; /* Each flex container takes up equal space */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  border: 1px solid #ccc; /* Optional: Add border for visibility */
  align-items: center; /* Center items horizontally */
}

/* Optional: Add some styling for content */
.fcontainer:nth-child(odd) {
  background-color: #f0f0f0;
}

.fitem {
  display: flex;
  flex-direction: column;
  padding: 10px;
}